@mixin tema-nav($cor-borda, $cor-fonte, $cor-fundo, $cor-fonte-hover, $cor-fundo-hover){
    $navbar-border-color: $cor-borda;
    $navbar-a-color: $cor-fonte;
    $navbar-background: $cor-fundo;
    $navbar-a-hover-color: $cor-fonte-hover;
    $navbar-a-hover-background: $cor-fundo-hover;
}

@if tema == 1{
        @include tema-nav(#822d69, #822d69, #ffffff, #ffffff, #822d69);
    }

    @if tema == 2{
        @include tema-nav(#2c822a, #2c822a, #d4d225, #0000ff, #2c822a);
    }