@mixin nav($cor-borda, $cor-fundo){
    border-color: $cor-borda;
    background-color: $cor-fundo;
}

@mixin nav-cor-fonte($cor-fonte){
    color: $cor-fonte;
}

@mixin nav-hover($cor-fonte-hover, $cor-fundo-hover){
    color: $cor-fonte-hover;
    background-color: $cor-fundo-hover;
}