%nav-padrao{
    border: 1px solid $navbar-border-color;
    padding: 10px;
    background: $navbar-background;
}

%nav-ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
}

%nav-ul-li{
    font-family: "Arial";
    font-size: 1em;
    list-style: none;
    font-weight: bold;
    -webkit-flex: 1;
    flex: 1;
}

%nav-ul-li-a{
    color: $navbar-a-color;
    text-decoration: none;
}

%brand{
    font-size: 1.5em;
    -webkit-flex: 10;
    flex: 10;
}