%nav-padrao{
    border-width: $navbar-border-width;
    border-style: $navbar-border-style;
    padding: 10px;
}

%nav-ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-align-items: center;
    align-items: center;
}

%nav-ul-li{
    font-family: $nav-font-family;
    font-size: $nav-font-size;
    list-style: none;
    font-weight: bold;
    -webkit-flex: 1;
    flex: 1;
    text-transform: uppercase;
}

%nav-ul-li-a{
    text-decoration: none;
    padding: 5px;
}

%brand{
    text-transform: none;
    font-size: $brand-font-size;
    -webkit-flex: 10;
    flex: 10;
}