$navbar-border-color: #822d69;
$navbar-background: #ffffff;
$navbar-a-hover-background: #822d69;
$navbar-a-color: #822d69;
$navbar-a-hover-color: #ffffff;
$nav-font-family: "Arial";
$nav-font-size: 1em;
$nav-border: 1px solid $navbar-border-color;

$brand-font-size: 1.8em;

$tema: 1;